// Colors
$greenOne: #42784f;
$greenTwo: #4c933f;
$lightGreen: #f3f6f4;
$whiteGreen: #f3f6f4;
$darkGreen: #06280e;
$paleGreen: #6d9480;
$greenGradient: linear-gradient(129deg, #42784f 0%, #2a3e2f 100%);

// sizes
$medium: 993px;

// font
$kumbh: 'Kumbh Sans', sans-serif;

// breakpoints
$desktop: 1420;
$largeTablet: 1080;
$tablet: 768;
$mobile: 560;
