@import "./variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;

  &.scroll-disabled {
    scrollbar-gutter: stable;
    overflow-y: hidden;
    height: 100%;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: white;

  &.scroll-disabled {
    scrollbar-gutter: stable;
    overflow-y: hidden;
    height: 100vh;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  max-width: 1680px;
  margin: 0 auto;

  @media screen and (min-width: $largeTablet) {
    width: 90%;
  }
}

h2 {
  font-family: $kumbh;
  font-weight: 300;
  text-transform: uppercase;
  margin: 1rem 0 2rem;
  font-size: 2.6rem;
}

span {
  font-weight: 300;

  &.bold {
    font-weight: 700;
  }

  &.italic {
    font-style: italic;
  }
}

//
@import "./slick/slick-theme";
@import "./slick/slick";
