@import '../../../styles/index.scss';

#navMain {
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  box-shadow: none;

  .navButton {
    position: absolute;
    top: 0;
    right: 3em;
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: flex;
    z-index: 10;

    @media screen and (max-width: 768px) {
      right: 1em;
    }

    :global(.menu-icon) {
      margin: auto;
      fill: $greenOne;
      width: 80%;

      path {
        transform-origin: center;
        transition: all 0.3s ease;
      }
    }

    &.active {
      :global(.menu-icon) {
        path {
          &:nth-child(1) {
            transform: translate(-20px, 32px) rotate(45deg);
          }

          &:nth-child(2) {
            transform: translate(20px, -32px) rotate(-45deg);
          }

          &:nth-child(3) {
            opacity: 0;
          }
        }
      }
    }
  }

  :global(.app-loaded) & {
    .navButton {
      transition: all 0.4s ease-in;
      svg.menuIcon {
        path {
          animation: scaleIn 0.6s cubic-bezier(0, 0.67, 0.44, 1.78);
          animation-fill-mode: forwards;
          transition: all 0.2s ease;
          @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
              animation-delay: $i * 0.2s;
              animation-duration: 0.2s + ($i * 0.4s);
            }
          }
        }
      }
    }

    .navItems {
      &__item {
        opacity: 0;
        animation: slideIn 0.5s ease;
        animation-fill-mode: forwards;
        animation-delay: 0s;
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            animation-delay: $i * 0.2s;
            animation-duration: $i * 0.4s;
          }
        }
      }
    }
  }

  .sidenavWrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    transition: all 0.2s ease;
    opacity: 0;

    &__inner {
      position: absolute;
      width: 30vw;
      height: 100%;
      background: #efefef;
      box-shadow: -4px 0px 30px rgba(0, 0, 0, 0.5);
      top: 0;
      right: 0;
      padding: 2em;
      box-sizing: border-box;
      transform: translateX(100%);
      transition: all 0.4s cubic-bezier(0, 1.01, 0.67, 1);
      overflow: hidden;

      @media screen and (max-width: 768px) {
        width: 70vw;
      }
    }

    .content {
      position: absolute;
      left: 0;
    }

    .border-circle {
      position: absolute;
      width: 1000px;
      top: 400px;
      left: 100px;
      stroke: $greenTwo;

      circle {
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 1850 2000;
        stroke-dashoffset: 1851;
        transition: 2s linear;
        opacity: 0.1;
        transform: translate(10%, 10%);
      }
    }

    .navItems {
      position: absolute;
      top: 6em;
      left: 0;

      &__item {
        margin: 0 2em;
        opacity: 0;
        transform: translateX(100px);

        a {
          color: rgb(5, 24, 5);
          font-size: 1.4em;
          letter-spacing: 0.4px;
          font-weight: 400;
          transition: all ease-out;
        }
      }
    }

    &.active {
      display: block;
      opacity: 1;

      .navItems {
        &__item {
          opacity: 1;
          transform: translateX(0);
        }
      }

      .sidenavWrapper__inner {
        transform: translate(0, 0);
      }

      .border-circle {
        circle {
          transform: translateX(0);
          opacity: 0.2;
          stroke-dashoffset: 0;
        }
      }
    }
  }

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes scaleIn {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
}
