@import "../../../styles/index.scss";

.hero-inner {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 100vh;
  justify-content: flex-end;

  @include custom-min-media($largeTablet) {
    min-height: 760px;
  }
}

.animation-mask {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 4;
  background: linear-gradient(129deg, #42784f 0%, #2a3f2f 100%);
}

.hero-left {
  position: absolute;
  width: 48%;
  height: 100%;
  z-index: 0;
  left: 0;
  top: 0;

  @include custom-max-media($largeTablet) {
    display: none;
  }

  &__background {
    width: 100%;
    height: 100%;
    background: url("/assets/hero-left-image.jpg") no-repeat left bottom;
  }
}

.image-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  background: white;
  background: rgb(243, 246, 244);
  opacity: 0.3;
}

.hero-right {
  position: relative;
  display: flex;
  width: 100%;
  text-align: center;
  background: rgb(243, 246, 244);
  background: linear-gradient(129deg, rgba(243, 246, 244, 1) 0%, rgba(109, 148, 128, 1) 100%);
  z-index: 1;

  @include custom-min-media($largeTablet) {
    width: 60%;
  }

  &__inner {
    margin: auto;
  }

  .logo {
    margin-bottom: 6em;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(1);
    transition: opacity 0.6s ease, transform 0.6s ease;

    img {
      opacity: 0;
      visibility: hidden;
      transform: translateY(10%);
      transition: all 1.2s cubic-bezier(0.17, 0.67, 0.42, 1.2);
      display: block;
      margin: auto;
      max-height: 400px;

      @media screen and (max-width: 1380px) {
        max-height: 300px;
      }

      @media screen and (max-width: 768px) {
        max-width: 260px;
      }
    }

    :global(.app-loaded) & {
      visibility: visible;
      opacity: 1;
      transform: scaleY(1);

      img {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }

  .title {
    h1 {
      text-transform: uppercase;
      color: $greenTwo;
      padding: 0 1em;
      font-weight: 300;
      font-size: 4em;
      text-align: left;
      width: 100%;

      @media screen and (max-width: 1660px) {
        font-size: 3em;
      }

      @media screen and (max-width: 1320px) {
        font-size: 2.4em;
      }

      @media screen and (max-width: 600px) {
        font-size: 2em;
      }

      span {
        display: block;
      }

      span.top {
        position: relative;
        font-weight: 200;
        left: -2em;
        opacity: 0;
        animation: slide-right 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) 2.5s both;

        @media screen and (max-width: 768px) {
          left: 0;
        }
      }

      span.bottom {
        font-weight: 700;
        display: block;
        font-weight: 700;
        color: white;
        font-size: 0.7em;
        text-align: right;
        position: relative;
        right: -2em;
        opacity: 0;
        animation: slide-left 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) 2.5s both;

        @media screen and (max-width: 768px) {
          right: 0;
        }
      }
    }
  }
}

.hero-pattern {
  position: absolute;
  top: 50%;
  height: auto;
  left: 100%;
  opacity: 0.1;
  width: 320px;
  height: 700px;
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;

  svg {
    height: 100%;
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-4%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
