@import "../../../styles/index.scss";

.staffSection {
  padding: 6rem 2rem 2rem;
  background: white;

  .staff-list-container {
    display: flex;
    flex-wrap: wrap;
  }

  .staff-list,
  .staff-description {
    width: 100%;

    @include custom-min-media($largeTablet) {
      width: 50%;
    }

    &__item {
      position: relative;
      background: $whiteGreen;
      margin: 0 0 2em;
      box-sizing: border-box;
      border-radius: 200px 0 0 200px;
      height: 124px;
      z-index: 1;
      color: black;
      cursor: pointer;
      display: flex;
      align-items: center;
      transform: translateX(1em);
      transition: all 0.3s ease;

      &:after {
        position: absolute;
        content: "";
        right: -62px;
        top: 0;
        width: 124px;
        height: 124px;
        background: #2a3f30;
        border-radius: 50%;
        opacity: 0;
      }

      &:hover {
        transform: translateX(0);
      }

      .image {
        padding: 0.8em;
        img {
          vertical-align: top;
          width: 100%;
          max-width: 100px;
        }
      }

      .name {
        font-weight: 700;
      }

      &.active {
        background: rgb(65, 118, 78);
        background: linear-gradient(120deg, rgba(65, 118, 78, 1) 0%, rgba(42, 63, 48, 1) 80%);
        color: white;
        transform: translateX(0);

        &:after {
          opacity: 1;
        }
      }
    }

    @media screen and (max-width: 992px) {
      display: flex;
      width: 100%;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        width: 1px;
      }

      &__item {
        height: auto;
        padding: 1em 2em;
        border-radius: 0.4rem;
        margin: 0;
        min-width: 220px;
        transform: translateX(0);
        margin-right: 0.4rem;

        &:after {
          display: none;
        }

        .image {
          display: none;
        }
      }
    }
  }

  .staff-description {
    background: $whiteGreen;
    padding: 4em 2em;
    font-size: 1.2em;
    padding-left: 124px;

    @media screen and (max-width: 992px) {
      padding: 1em;
      border: 1px solid $greenOne;
      border-radius: 0.4rem;
    }

    .name {
      font-weight: bold;
      margin-bottom: 1.4rem;
      color: black;
    }

    .content {
      line-height: 1.6rem;
      color: black;
    }
  }
}
