@import "../../../styles/index.scss";

.footer {
  background: rgb(0, 0, 0);
  background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(42, 62, 47, 1) 100%);
  width: 100%;
  overflow: hidden;
  color: white;
  padding: 4rem 1rem;
  position: relative;

  h2 {
    color: $greenTwo;
    text-transform: none;
  }
}

.site-map {
  display: flex;
  flex-direction: column;
  list-style-type: none;

  > li {
    margin: 1rem 0 1.5rem;
  }
}

.patterns {
  position: absolute;
  right: 0;
  opacity: 0.2;
  top: 0;
  width: 200px;
  transform: translate(100px, 10%);

  svg {
    width: 100%;
  }
}

.copyright {
  width: 100%;
  text-align: center;
}
